.login{
  background: #000;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.625em 1.563em;

  &-user{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      color:#fff;
      font-size: 14px;

      margin-right: 10px;

      a{
        text-decoration: underline;
        color:#fff;

        &:hover{
          color:#eee7e7;
        }
      }
    }
  }
}

