.menu{
  background: #CC0D1F;
  padding: 0 2vw;

  &-nav{
    display: flex;
    ul{
      display: flex;
      list-style: none;
      padding: 0;

      li {
        color: #fff;
        margin-right: 50px;
        margin-top: 15px;

        a{
          font-weight: 800;
          color:#fff;
          text-decoration: none;
          text-transform: uppercase;

          &:hover{
            color: #f0e5e5;
          }
        }
      }
    }
  }
}
