.breadcrumbs{
  margin-top: 0.625em;
  ul{
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 2rem;
    margin-bottom: 1rem;

    list-style: none;

    li{
      a{
        color:#000;
        text-decoration: none;
        margin-right: 5px
      }
    }

    li:nth-child(2n){
      a{
        color: red;
      }
    }
  }
}
