.search{
  display: flex;
  height: 2.500em;
  margin-top: 0.625em;


  &-button{
    font-weight: 800;
    color: #fff;
    background: #CC0D1F;
    text-transform: uppercase;
    border: none;

    padding: 0.625em 1.250em;
  }
}
