.filter{
  border: 1px solid #bfbfbf;
  width: 200px;
  margin-top: 20px;
  margin-top: 20px;
  padding: 15px;

  &-title{
    color: #CC0D1F;
  }

  &-subtitle{
    color: #d3d3d3;
  }

  &-menu{
    padding-left: 15px;
  }
}
