.filter{
  border: 1px solid #bfbfbf;
  padding: 1vw 4vw 1vw 1vw;
  margin-right: 2vw;
  max-height: 400px;

  &-title{
    text-transform: uppercase;
    color: #CC0D1F;
    font-size: 1.250em;

    margin-bottom: 0.875em;
  }

  &-subtitle{
    text-transform: uppercase;
    color: #699693;
    font-size: 0.938em;
  }

  &-menu{
    padding-left: 15px;

    li{
      font-size: 0.938em;
      color: #7c7c7c;

      padding: 0.125em 0;
    }
  }
}
